@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
html,
body {
    direction: rtl;
    padding: 0;
    margin: 0;
    font-family: 'Amatic SC', roboto;
    background-color: #B1D4E0;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}